
html,body{
background-image: url('https://www.itl.cat/pngfile/big/157-1572191_hd-wallpapers-for-website-background-cool-background-image.jpg');
font-family: 'Scada', sans-serif;
}

.table{
  width:40%;
  opacity: 70%;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 3rem;
}

.welcome{
  text-align: center;
  color: white;
  padding: 5%;
}
